.depression-test-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  .depression-test-title {
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #2f3990;

  }
}