.change-password-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  
    .change-password-title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: #2f3990;
        padding: 20px;
    }
  }
.btn-primary{
    font-weight: bold;
    background-color: #2f3990;
}